@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  font-size: 1.4rem;
}

* {
    font-family: 'Kameron';
}

#body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
}

a{
  text-decoration: none;
  color: black;
}
 
#nav-bar{
  padding: 3rem;
  font-size: 2rem;
  color: #000;
  border-bottom: 1px solid black;
}

#banner-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0;
}

.banner-text {
  position: absolute;
  height: auto;
  z-index: 1;
  font-size: 4rem;
  top:20%;
  left: 15%
}

#banner-button {
  position: absolute;
  top: 35%;
  left:28%;
  font-size: 3.5rem;
}

#home-banner {
  position: relative;
  max-width: 100%;
  height: auto;
  grid-column: span 5;
  margin: 0;
  z-index: -1;
}

#featured-product-container, #all-product-container {
  display:grid; 
  grid-template-columns: repeat(3, 1fr);
}

#featured-items-header, #all-products-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 3rem;
  line-height: 4rem;
}

#ind-product-container {
  display:grid;
  grid-template-rows: 25vw repeat(2, 1fr)
}

#ind-product-flavors {
  font-size: 1.5rem;
  text-align: center;
}

#ind-product-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  /* grid-column-start: 1;
  grid-column-end: 4; */
  /* grid-row: span 1; */
  justify-self: center;
  margin-bottom: -10px;
}

#ind-product-details {
  text-align: center;
  margin: 0;
  font-size: 2.25rem;
  /* line-height: 2.5rem; */
}

#featured-button-container{
  display: flex;
  justify-content: center;
  padding: 1rem;
  
  padding-bottom: .5em;
}

button {
  border: 1px solid black;
  border-radius: 2px;
  /* padding: .3em; */
  background-color: transparent;
  font-size: 1.5rem;
  margin: 10px;
  margin-top: 0;
}

button:hover {
  cursor: pointer;
}

#login-page, #registration-page {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-register-container {
  padding: 3rem;
}

.login-register-header {
  text-align: center;
  font-size: 4rem;
}

.login-register-subtext {
  font-size: 2.25rem;
}

.form-labels {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem ;
  padding-bottom: 1.5rem;
}

form {
  padding-bottom: 2rem;
}

#login-button {
  width: 20%;
  height: fit-content;
  border: 1px solid black;
  border-radius: 2px;
  font-size: 2.25rem;
}

.login-register-redirect-text {
  font-size: 1.5rem;
}

#filter-comp {
  padding: 2rem;
  padding-left: 6rem;
}

#sort-by-comp {
  font-size: 2rem;
}

#all-products-text-container {
  padding-left: 6rem;
  padding-right: 6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#all-products-desc {
	font-size: 1.25rem;
}


#product-details-container {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
}

#product-details-product{
  grid-column-start: 2;
  grid-column-end: 3;
}

#product-details-text {
  display: flex;
  flex-direction: column;
  grid-column-start: 3;
  grid-column-end: 4;
  font-size: 2rem;
}

#product-details-size-price {
  font-size: 2.5rem;
}

#product-details-button-container {
  grid-column-start: 3;
  display: flex;

}

#quantity-input {
  width: 20%;
  text-align: center;
}

/* #cart-container {
  display:grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
} */

.cart-item {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  padding: 2.5rem;
  font-size: 2.5rem;
}

.cart-product-quantity {
  grid-column-start: 2;
  text-align: center;
  width: 25%;
}

.cart-quantity-button {
  width: 25%;
}

/* .currency-select {
  font-size: 2.5rem;
} */

select {
  font-size: 1.3rem;
  margin: 1rem;
}